body{
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    /* background: radial-gradient(circle at left middle, #FFA726, #F57C00); */
    background:rgb(250 241 219);
    font-family: 'Euclid', system-ui, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background:rgb(255, 178, 105); 
}
/* Logo y título alineado a la izquierda */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
}

/* Tamaño de la imagen del logo */
.logo-container img {
    width: 200px;
    filter: drop-shadow(3px 3px 5px #000000);
    /* margin-bottom: 10px; */
}

/* Ajuste de fuentes del título y subtítulo */
.logo-container h1 {
    font-size: 28px;
    filter: drop-shadow(2px 2px 2px #000000);
    color: white;
    margin: 0;
}

.logo-container h2 {
    font-size: 20px;
    
    color: #4d4d4d; 
    margin: 5px 0 0;
}

/* Información de contacto alineada a la derecha */
.contacto-container {
    text-align: center;
}

.contacto-container h3 {
    margin: 0;
    font-size: 18px;
}

.contacto-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contacto-container li {
    font-size: 14px;
    display: flex; 
    align-items: center; 
    margin: 10px 0; 
}
.contact-info {
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
}
.info-column {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 20px; 
}
.info-column li {
    display: flex;
    align-items: center; 
    margin: 10px 0; 
}

.info-column a {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
}

.icono {
    width: 24px; 
    margin-right: 10px;
}
.icono {
    width: 30px; 
    margin-right: 10px; 
}
main{
    margin: 0 1em;
}

section {
    border: #000000 solid 0.5px;
    border-radius: 10px;
    margin: 2em 0;
    padding: 1em;
    background-color: #EFEFEF;
    box-shadow: black 3px 3px 5px;
}

.titulo-h3{
    text-align: center;
    margin-top: 0;
    font-size: x-large;
    color: rgb(31, 31, 31);
}

/* Contenedor principal para alinear los elementos uno al lado del otro */
.main-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    align-items: flex-start; 
}

/* Contenedor de texto */
.text-container {
    flex: 1; 
    width: 50%;
}
.descripcion{
    font-size: 2vw;
}
.img-container {
    width: 50%;
    align-content: end;
    text-align: right;
}
.img-container img{
    max-width: 50%;
}
/* Contenedor del álbum */

.album-container {
    position: relative;
    width: 50%;
    max-width: 300px;
    overflow: hidden;
    margin-right: 4em;
}

/* Botones de navegación */
.negocio-container{
    width: 50%;
}
.negocio {
    width: 100%;
}
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.left {
    left: 10px;
}
.right {
    right: 10px;
}

/* Estilo del slider */
.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

/* Estilo de cada imagen */
.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.modulo-container {
    /* position: relative; */
    width: 50%;
    /* max-width: 300px;
    overflow: hidden; */
    align-content: end;
    text-align: right;
    display: inline-flex;
}
.modulo-container img{
    max-width: 50%;
    margin-left: 3px;
}


.modulos p {
    font-size: 1.5vw;
}

.palabras{
    display: flex;
    margin: 1em 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.palabra {
    background-color: rgb(252, 232, 183);
    padding: 0.31em;
    width: 30%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    border: solid black 1px;
    box-shadow: black 3px 3px 3px;
}
.productos{
    display: flex;
    justify-content: space-around;
}
.producto {
    background-color: rgb(183 232 252);
    padding: 0.31em;
    width: 30%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    border: solid black 1px;
    box-shadow: black 3px 3px 3px;
}
.logomara{
    width: 50%;
}

footer {
    background-color: rgb(255, 178, 105);
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-social {
    margin: 10px 0;
}

.footer-social a {
    margin: 0 10px;
    border: none;
    text-decoration: none;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

.footer-links {
    margin-top: 10px;
    font-size: 14px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}
.map-container {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fijo{
    cursor: default;
}
@media (max-width: 768px) {
    .contacto-container h3{
        display: none;
    }   
    /* Header en móvil */
    header {
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        width: 90%;
    }
    .album-container {
        width: 90%;
    }

    .logo-container {
        margin-left: 0;
    }

    /* Contenedores principales */
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .info-column {
        margin: 10px 0;
    }
    
    .album-container{
        text-align: center;
        margin: 0 auto;
    }
    .album-container,
    .modulo-container {
        width: 100%;
    }

    .logo-container h2 {
        font-size: 16px;
    }

    .titulo-h3 {
        font-size: large;
    }

    
    .negocio-container{
        width: 90%;
    }
    /* Ajustes específicos para imágenes */
    .negocio,
    .modulo-container img {
        width: 100%;
        height: auto;
    }
    
    .modulos p {
        font-size: 3vmin;
    }
    .descripcion{
        font-size: 3vmin;
    }
    .text-container{
        width: 100%;
    }

    /* .palabras{
    } */
    .palabra {
        font-size: 2.8vmin;
        width: 26%;
    }
    
    /* .productos{
    } */
    .producto {
        font-size: 3vmin;
        width: 40%;
    }
    .clientes{
        width: 45%;
        margin: 0;
    }
    
    /* Ajuste de fuentes del título y subtítulo */
    .logo-container h1 {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    /* Ajustes para pantallas muy pequeñas */
    .contacto-container h3{
        display: none;
    }
    header {
        padding: 10px;
    }

    .contact-info {
        flex-direction: column;
    }

    .info-column {
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .logo-container h2 {
        font-size: 16px;
    }

    .titulo-h3 {
        font-size: medium;
    }
    .text-container{
        width: 100%;
    }

    .contact-info li {
        font-size: 12px;
    }

    .album-container{
        text-align: center;
        margin: 0 auto;
    }
    .telefonos li{
        align-items: center;
        display: inline-block;
    }
    
    .modulos p {
        font-size: 3vmin;
    }
    .descripcion{
        /* font-size: 3vw; */
        font-size: 3vmin;
    }

    /* .palabras{
    } */
    .palabra {
        width: 29%;
    }
    .clientes{
        width: 45%;
        margin: 0;
    }
    
    /* .productos{
    } */
    .producto {
        font-size: 2vmin;
    }
    

    /* Ajuste de fuentes del título y subtítulo */
    .logo-container h1 {
        font-size: 26px;
    }
}